<%following = yield%>
<h2>Followed Senators</h2>
<div class="senators-following">
  <%=following[:senators]%>
</div>
<h2 class="clearfix bills-header">Followed Bills</h2>
<div class="bills-following">
  <%=following[:bills]%>
</div>
