<section id="logged-out-welcome">
  <img src="/assets/images/logo.png" alt="Logo" class="logo mb-4" width="119" height="70">
  <h1>Welcome to uPolitic!</h1>
  <h4>Please <a href="/login">login</a> or <a href="/signup">signup</a> to proceed!</h4>
</section>
