h1, h2, h3, h4{
    color: #222;
}

a{
    color: rgb(92, 62, 5);
}
section.signup p{
    color: red;
}

.error{
    color: red;
}

img{
    height: 15em;
    width: 15em;
}

input{
    color:blue;
}

input.chosen{
    background: darkgray;
}

*{
    background: whitesmoke;
}

.wrapper{
    margin: 0 auto;
    width: 960px;
    
}

.senator-profile-homepage{
    float: left;
    width: 450px;
}

.senator-profile-homepage:last-child{
    float: right;
    width: 450px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

