h1, h2, h3, h4{
    color: #222;
}

a{
    color: rgb(92, 62, 5);
}
section.signup p{
    color: red;
}

.error{
    color: red;
}

img{
    height: 15em;
    width: 15em;
}

input{
    color:blue;
}

input.chosen{
    background: darkgray;
}

