
section.signup p{
    color: red;
}

.error{
    color: red;
}

body{
    background: whitesmoke;
    min-height: 100%;
}

.content-wrapper{
  background: whitesmoke;
  padding-top: 55px;
  min-heigth: 100%;
}


a:hover{
  color: #328CC1;
  text-decoration: none;
  /*text-shadow: 2px 2px #D9B310;*/
}

footer{
  width: 100%;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.member-card{
  width: 100%;
  background: #0B3C5D;
  color: #CCC;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: #333;
  margin-bottom: 2%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  box-sizing: border-box;
  padding: 1em;
  height: 98%;
}

.member-card a{
  color: #D9B310;
}


.bill-card{
  width: 100%;
  background: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: #333;
  margin-bottom: 2%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  box-sizing: border-box;
  padding: 1em;
  height: 98%;
}


.bill-card * {
  background: white;
  color: black;
}

.bill-card input{
  background: #eee;
  color: #222;
}


.bill-card .actions form{
  display: inline;
}

.reaction-stats{
  padding: 1em;
}

.reaction-stats p{
  display: inline;
}


a{
  text-decoration: none;
  color: #0B3C5D;
}


div.all-wrapper{
  margin-top: 200px;
}

section.browse-links nav{
  padding: 4em;
}


section.state-data{
  margin: 10em;
}
section.state-data h2{
  text-align: center;
}

.senator-profile-homepage{
  float: left;
  width: 50%;
}

.senator-banner{
  margin-top: 3em;
  margin-bottom: 2em
}

footer{
    text-size: 0.75em;
    text-align: center;
    border-top: 2px solid #ccc;
    width: 100%;
}

h2.bills-header{
  margin-top: 30px;
  margin-bottom: 10px;
}


/*******************SIGN IN / SIGN UP************************************/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p, a{
  font-family: 'Didact Gothic', 'Roboto', 'Open Sans Condensed', sans-serif;
}



/*****************************HOMEPAGE************************************************/

.senator-profile-homepage{
  padding: 15px;
}

.greeting{
  color: #1D2731;
  margin-bottom: 40px;
  font-family: 'Didact Gothic', 'Roboto', 'Open Sans Condensed' sans-serif;
  font-size: 1.5em;
  margin-top: 35px;
}

/*************************CUSTOMIZE NAVBAR*********************************************/

.navbar-default {
  background-color: #1D2731;
}

.navbar-default li a{
  color: #CCC;
}

.navbar-default .navbar-brand{
  color: #D9B310;
}

.navbar-default .active  a, .navbar-default .active a:hover, .navbar-default  .active  a:focus {
    background-color: #1D2731;
    color: #CCC;
}

.navbar-default a:hover{
  color: #FFF;
  background-color: #0C1620;
}

.navbar-default a{
  transition: color 0.5s ease;
  transition: background-color 1.0s ease;
  color: #CCC;
  background-color: #1D2731;
}

/************************COLOR SCHEME************************************/

.bkg-pri{
  background: #0B3C5D;
}

.republican{
  background: #b50505;
}

.democrat{
  background: #0b3c5d;
}

.pri{
  color: #0B3C5D;
}

.bkg-light{
  background: #328CC1;
}

.light{
  color: #328CC1;
}

.bkg-offwhite{
  background: #E8EAF6;
}

.offwhite{
  color: #E8EAF6;
}

.bkg-gold{
  background: #D9B310;
}

.gold{
  color: #D9B310;
}

.bkg-dark{
  background: #1D2731;
}

html body nav.bkg-dark{
  background: #1D2731;
}

.dark{
  color: #1D2731;
}

.border-pri{
  border: 2px solid #0B3C5D;
}

.border-blight{
  border: 1px solid #328CC1;
}

.border-gold{
  border: 2px solid #D9B310;
}

.border-dark-round{
  border: 2px solid #1D2731;
  border-radius: 50%;
}

.border-bdark{
  border: 5px solid #1D2731;
}

.bottom-dark-border{
  border-bottom: 4px solid #1D2731;
}

.shadow{
  box-shadow: 0 3px 10px #333;
}

.light-shadow{
  box-shadow: 0px 3px 15px #888;
}

.blue-shadow{
  box-shadow: 5px 2px 25px #0B3C5D;
}

.thin-shadow{
  box-shadow: 5px 2px 25px #444;
}

.dark-shadow{
  box-shadow: 5px 3px 25px #1D2731;
}

/********************HEIGHT************************************/
.min-100{
  min-height: 100%;
}

.fill{
  min-height: 100%;
  height: 100%;
}

html{
  min-height: 100%;
  height: 100%;
}


/************************IMAGES*************************************/
.senator-profile-homepage img{;
  width: 75%;
  height: auto;
  margin: 10px;
}

/*************************BUTTONS***********************************/

.btn-primary {
    background: #0B3C5D;
    color: #ffffff;
}

.home-link{
  height: 60px;
  border-radius: 30px;
  padding: 15px;
  margin: 10px auto;
  width: 75%;
}

.home-link a{
  font-size: 1.25em;
}

.home-link {
  transition: background-color 1.0s ease;
  background-color: #328CC1;
}

.home-link a:hover{
  color: #D9B310;
}

.home-link:hover{
  background-color: #0B3C5D;
}

input.custom-button{
  border: 1px solid #D9B310;
  border-type: solid;
  /*border-radius: 10px;*/
  border-width: 1px;
  border-color: #328CC1;
  background-color: #FFF;
  shadow-box: 0px 3px 15px #888;
  border-color: #0B3C5D;
  color:  #0B3C5D;
  width: 25%;
  margin: 2px;
  font-weight: bold;
}

input.custom-button-light{
  border: 1px solid #D9B310;
  border-type: solid;
  /*border-radius: 10px;*/
  border-width: 1px;
  border-color: #D9B310;
  shadow-box: 0px 3px 15px #888;
  background-color: #0B3C5D;
  color:  #CCC;
  width: 25%;
  margin: 2px;
  font-weight: normal;
}

input.chosen-light{
  border: 1px solid #D9B310;
  background: #1D2731;
}

input.chosen{
  border: 1px solid #328CC1;
  background: #1D2731;
  color: #ccc;/*#D9B310;*/
  font-weight: normal;
}

.custom-button-light:hover{
  background-color: #aaa;
  color: #1D2731;
  border-color: #0B3C5D;
}

/*************************POSTS************************************/

.new-post textarea{
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.post{
  background: #fbfbfb;
  border: 3px solid #0B3C5D;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top:10px;
}

.post .content{
  font-size: 1.5em;
  text-align: left;
  margin-left: 3em;
}

.post p.username{
  background-color: #1D2731;
  color: #DDD;
}


.custom-button:hover{
  background-color: #0B3C5D;
  color: #FFF;
  border-color: #0B3C5D;
}

.member-card a:hover{
  color: #eee;
}

.post .content{
  width: 90%;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  margin: 0 auto;
  border-radius: 10px;
}

/****************************************************************************/

.label{
  font-weight: bold;
  font-style: oblique;
}

/**************SENATOR PAGE**********************************************/

.senator-img img{
  hieght: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.senator-img{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

h4.title, h5.title{
  color: #D9B310;
}



.committees h4, .subcommittees h4{
  font-weight: bold;
  margin-top: 20px;
}

div.committee, div.subcommittee{
  margin-bottom: 3px;
  border: 2px solid #0B3C5D;
  border-radius: 10px;
  background: offwhite;
}

div.vote{
  margin-bottom: 5px;
}

p.number a{
  font-size: 1.35em;
  font-weight: bold;
}

.senator-votes h5{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.vote p.title a{
  font-size: 1.25em;
  font-weight: bold;
}

.vote p.description{
  font-weight: bold;
}

.senator-votes span{
  font-weight: bold;
}

.session, .role-call{
  display: inline;
}



.results p{
  display: inline;
}

.results .result{
  font-size: 1.2em;
  font-weight: bold;

}


.senator-vote{
  font-size: 1.25em;
  font-weight: bolder;
  margin-top: 10px;

}

.sponsored-bill{
  margin-top: 10px;
}

.sponsored-bills{
  font-size: 1.2em;
  font-weight: bold;
}

/**********************TABLES******************************/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}
table tr:nth-child(even) {
  background: #f8f8f8;
}
table th,
table td {
  padding: .325em;
  text-align: left;
}
table th {
  border: 1px solid #aaa;
  background: #1D2731;
  color: #fff;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
table td {

  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}



/****************BILL SHOW***************************************************/

span{
  font-weight: bold;
}
table.votes{
  border-top: 15px solid #328CC1;
}

.yes-vote, .no-vote, .abstain-vote{
  color: #D9B310;
  border: 1px solid #1D2731;

}

.yes-vote p, .no-vote p, .abstain-vote p{
  margin-top: 5px;
  margin-bottom: 5px;
}

h6.yes-votes, h6.no-votes, h6.abstain-votes{
  background-color: #1D2731;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0px;
}

.posts{
  margin-top: 20px;
  border-top: 10px solid #ccc;
  padding: 5px;
}



/************************BOOTSTRAP ROW***************************************/
.centered{
  margin: auto;
  max-width: 100%;
  width: 100%;
  height: 90%;
}

.centered-halfsize{
  margin: auto;
  max-width: 100%;
  width: 50%;
  height: 90%;
}

/**********************SOCIAL MEDIA ICONS**************************************/
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: white;
}

/* Set a specific color for each brand */



/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.facebook-gold{
  background: #0B3C5D;
  color: #D9B310;
}

.twitter-gold{
  border: 1px solid #0B3C5D;
  background: #0B3C5D;
  color: white;
}
