<!DOCTYPE html>
<html lang="en" dir="ltr>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>uPolitic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:300|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>

  <body class="text-center container-fluid bkg-offwhite">
      <nav class="navbar navbar-expand-md fixed-top navbar-default">
        <a class="navbar-brand" href="#">uPolitic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <%if not logged_in?%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up </a>
              </li>
            <%else%>
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/<%=current_user.slug%>/following">Following </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/<%=current_user.slug%>/profile/edit">Edit Profile </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out </a>
              </li>

            <%end%>

          </ul>
        </div>
      </nav>




    <div class="container content-wrapper fill">
      <%=yield%>
    </div>

    <footer>
      <p>Data Provided by ProPublica</p>
      <p>SHUTEAPPS All Rights Reserved, &copy;2018</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
