<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>uPolitic</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header>
      <h1>uPolitic</h1>

    <%if not logged_in?%>
      <div class="auth-links">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    <%else%>
      <div class="header-links">
        <a href="/">Home</a>
        <a href="#">Following</a>
        <a href="/<%=current_user.slug%>/profile/edit">Edit Profile</a>
        <a href="/logout">Logout</a>
      </div>
    <%end%>
    </header>
    <div class="wrapper">
      <%=yield%>
    </div>
      <footer class="clearfix">
        <p>&copy;ShuteApps</p>
      </footer>
    
  </body>
</html>
