<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>uPolitic</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header id="navbar" class="light-fade shadow">
      <h1>uPolitic</h1>

    <%if not logged_in?%>
      <nav class="auth-links">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>
    <%else%>
      <nav class="header-links">
        <a href="/">Home</a><a href="/<%=current_user.slug%>/following">Following</a><a href="/<%=current_user.slug%>/profile/edit">Edit Profile</a><a href="/logout">Logout</a>
      </nav>
    <%end%>
    </header>
    <div class="all-wrapper clearfix">
      <%=yield%>
    </div>
      <footer class="clearfix light-fade">
        <p>&copy;ShuteApps</p>
      </footer>

  </body>
</html>
